

<div class="router-page">
    <picture class="employee-picture-section">
        <source srcset="" media="(max-width: 599px)">
        <source srcset="" media="(min-width: 600px)">
        <img class='employee-picture' srcset="images\dr-jamie-hampton2.jpg" alt="default image">
    </picture>
    <h2 class="headline article-headline">Dr. Jamie Hampton</h2>
    <hr/>
    <div class="article-section">
        <p class="article-text">Dr. Hampton specializes in Myofascial Trigger Point Acupuncture (Dry Needling) for complex orthopedic issues
            including Pelvic Floor Acupuncture. She is the bay area’s leading expert in acupuncture care for Pelvic Floor
            pain.
        </p>
        <p class="article-text">She is a passionate advocate for the use of Chinese Medicine and acupuncture as a preventative method to achieve
        and maintain ongoing health and wellness.
        </p>
        <p class="article-text">Dr. Hampton’s goal is to help her patients live a full and healthy life. She believes in the power of Traditional
            Chinese Medicine, positive thinking, and happiness. She lives in beautiful North Berkeley, California with her
            husband and son. She enjoys travel, reading, cooking, fine dining, and learning foreign languages, and she thinks
            that every day is a blessing.
        </p>
        <h3 class="headline">Education and Training</h3>

        <ul class="article-list">
            <li class="article-text">Doctorate Degree in Acupuncture and Oriental Medicine, American College of Traditional Chinese Medicine (ACTCM),
                emphasis on Women’s Primary Care and Pain Management.
            </li>
            <li class="article-text">Master of Sciences in Chinese Medicine, ACTCM.</li>
            <li class="article-text">Bachelor of Arts in Anthropology, University of Cincinnati.</li>
            <li class="article-text">Residency in Gynecology and Pain Management at Yue Yang Hospital in Shanghai, China.</li>
            <li class="article-text">Research at Brigham and Women’s Hospital in Boston, Massachusetts working with a cardiology team on an NIH
                funded clinical trial.
            </li>
            <li class="article-text">Internships with California Pacific Medical Center, Haight Ashbury Free Clinic, The Women’s Community Clinic,
                San Francisco.
            </li>
            <li class="article-text">Faculty at Alameda County Health Services (Highland Hospital, University of California San Francisco Teaching
                affiliate).
            </li>
            <li class="article-text">Faculty at Acupuncture and Integrative Medical College (AIMC) Berkeley, CA.</li>
        </ul>
        <p class="article-text">Dr. Hampton is a licensed Acupuncturist in California and a Diplomate of Oriental Medicine through the National
            Certification Commission for Acupuncture and Oriental Medicine (NCCAOM).
        </p>
    </div>
</div>