

<div class="article-section">
    <h3 class="headline">What is myofascial trigger point acupuncture?</h3>
    <p class="headline-text" id="home-text">Dry needling, also known as myofascial trigger point dry needling,
        is the use of either solid filiform needles (also referred to as acupuncture needles)
        or hollow-core hypodermic needles for therapy of muscle pain, including pain related to myofascial pain
        syndrome. Dry needling is sometimes also known as intramuscular stimulation (IMS). Acupuncture is a broad
        category of needling practices with solid filiform needles. Modern acupuncture notably includes both
        traditional and Western medical acupuncture; dry needling is arguably one subcategory of western medical
        acupuncture. Chinese style tendinomuscular acupuncture relies on careful palpation of what are called
        "Ah Shi" points, which often correspond to both trigger points and/or motor points in the myofascial tissue.
        Chinese style tendinomuscular acupuncture tends to use lower gauge (thicker) needles necessary for puncturing
        contraction knots with a high degree of precision. On the other hand, lighter styles of acupuncture, such as
        Japanese style, and many American styles, may tend towards very shallow insertions of higher gauge (thinner)
        needles. Most acupuncture styles, especially those with lighter techniques, require a detailed knowledge, not
        only of anatomy but also of the channel networks and connections. Thus, while some forms of acupuncture are
        not at all the same as dry needling, the term dry needling can refer quite specifically to what is now called
        Myofascial Acupuncture, Tendinomuscular Acupuncture, or some version of Sports Acupuncture.
    </p>
</div>