
<div class="contact-content">
    <div class="contact-section">
        <h1 class="headline contact-headline contact-title">Appointments</h1>
        <p class="contact-block-text headline-text contact-info-text">At this time we are only accepting appointments for house calls.</p>
    </div>
    <hr />
    <div class="contact-section">
        <h2 class="headline contact-headline">Call or email for an appointment</h2>
        <div class="contact-block">
            <h3 class="contact-block-type headline">phone:</h3>
            <p class="contact-block-text headline-text">(415)568-6510</p>
        </div>
        <div class="contact-block">
            <h3 class="contact-block-type headline">email:</h3>
            <p class="contact-block-text headline-text">Blahemail@emailplace.com</p>
        </div>
    </div>
    <hr />
    <div class="contact-section">
        <h2 class="headline contact-headline">Make an appointment online</h2>
        <P class="contact-block-text headline-text contact-info-text">Due to the nature of house calls, online appointments
            are not available at this time.
            Please check back soon for updates.
        </P>
    </div>
    <hr />
</div>