<header class="main-container" id="header">
    <div class="nav-logo-container">
        <h2 id="nav-logo" class="nav-names">Dr. Jamie Hampton</h2>
        <h4 id="nav-logo-titles" class="nav-names">DAOM, LAc</h4>
    </div>

    <nav id='large-nav-link-container'>
        <div ng-repeat="link in linklist" class="nav-link">
            <a class="nav-link" href="{{link.url}}"><p>{{link.name}}</p></a>
        </div>
    </nav>
    <div id="menu-button"><i id="button-symbol" class="fa fa-bars " aria-hidden="true"></i></div>
</header>

<nav id='mobile-nav-link-container'>
    <div class="mobile-nav-link">
        <a class="nav-link" href="#/"><p>Home</p></a>
    </div>
    <div class="mobile-nav-link">
        <a class="nav-link" href="#about"><p>Our Staff</p></a>
    </div>
    <div class="mobile-nav-link">
        <a class="nav-link" href="#classes"><p>About Myofascial acupuncture</p></a>
    </div>
    <div class="mobile-nav-link">
        <a class="nav-link" href="#contact"><p>Appointments</p></a>
    </div>

</nav>
<!--<div id="menu-bottom"></div>-->