
<div class="router-page">
    <div id="home-content">
        <!--<img id='home-image1'src="images/dry-needling-shoulder.jpg">-->
        <h3 id="home-picture-headline" class="headline">Dry Needling for pain relief</h3>
        <a href="#contact"><p id="apt-link1" class="home-content-text headline-text">Make an appointment</p></a>
    </div>
    <div class="article-section">
        <div class="article-sub-section">
            <h2 class="headline">Welcome to our clinic</h2>
            <p class="article-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                fringilla vel, aliquet nec, vulputate
            </p>
        </div>
        <hr />
        <div class="article-sub-section">
            <h3 class="headline">Acupuncture Services</h3>
            <picture class="article-picture-section">
                <source media="(max-width: 599px)" srcset="images/Japanese_watercolour,_acupuncture_Wellcome_L0019548_small.jpg" >
                <source media="(min-width: 600px)" srcset="images/Japanese_watercolour,_acupuncture_Wellcome_L0019548_medium.jpg" >
                <img class="article-picture" srcset="images/Japanese_watercolour,_acupuncture_Wellcome_L0019548.jpg">
            </picture>
            <p class="article-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            <ul class="article-list">
                <li class="article-text" >Lorem ipsum dolor sit amet,</li>
                <li class="article-text">Lorem ipsum dolor</li>
                <li class="article-text">Lorem ipsum dolor sit amet, consectetuer adipiscing</li>
                <li class="article-text">Lorem ipsum dolor sit</li>
            </ul>
        </div>
        <hr />
        <div class="article-sub-section">
            <h3 class="headline">Herbal Medicine</h3>
            <picture class="article-picture-section">
                <source media="(max-width: 599px)" srcset="images/Guo_Xu_album_dated_1503_small.jpg" >
                <source media="(min-width: 600px)" srcset="images/Guo_Xu_album_dated_1503_50%.jpg" >
                <img class="article-picture" srcset="Guo_Xu_album_dated_1503_(2).jpg">
            </picture>
            <p class="article-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</p>
            <ul class="article-list">
                <li class="article-text" >Lorem ipsum dolor sit amet,</li>
                <li class="article-text">Lorem ipsum dolor</li>
                <li class="article-text">Lorem ipsum dolor sit</li>
            </ul>
        </div>
    </div>
</div>